body {
    background-color: #ffffff; /*Vit*/
}

p {
    color: #000000; /*Svart*/
    font-family: 'Segoe UI', sans-serif;
    font-size: 12px;
}

h1 {
    color: #273cb2; /*Blå*/
    font-family: 'Exo', 'Segoe UI', sans-serif;
}

h2 {
    color: #6a81ff; /*Ljusblå*/
    font-family: 'Segoe UI', sans-serif;
}

h3 {
    color: #ff8401; /*Orange*/
    font-family: 'Segoe UI', sans-serif;
}

.button {
    background-color: #ff8401; /*Orange*/
    font-family: 'Exo', 'Segoe UI', sans-serif;
}

footer {
       position: fixed;
       height: 100px;
       bottom: 0;
       width: 100%,
}

.leftMenu {
    position: fixed;
    width: 20%;
    height: 100%;
    max-width:20%;
}

#mainContent {
    position: fixed;
    left: 20%;
}

.jumbotron{
    padding-top:0.2em;
    padding-bottom:0.2em;
}